html {
  --bg: #F4B886;
  --accent: #F6D0B1;
  --text: #273043;
  font-family: "DM Sans", sans-serif;
  margin: 3%;
  background-color: var(--bg);
}

html[data-theme='dark'] {
  --bg: #273043;
  --accent: #7389AE;
  --text: #ffca9f;
}

body {
  text-align: center;
  color: var(--text);
  padding: 1%;
  background-color: var(--accent);
  border-radius: 5%;
}
h1 {
  font-size: 500%;
}