html {
  --bg: #F4B886;
  --accent: #F6D0B1;
  --text: #182542;
  font-family: "DM Sans", sans-serif;
  margin: 5em;
  background-color: var(--bg);
}

html[data-theme='dark'] {
  --bg: #13293d;
  --accent: #273043;
  --text: #ffca9f;
}

body {
  text-align: left;
  color: var(--text);
  padding: 2em;
  background-color: var(--accent);
  border-radius: 25px;
}
h1 {
  font-size: 500%;
  padding-bottom: 0.25em;
}