html {
  background-color: #F4B886;
  font-family: "DM Sans", sans-serif;
  margin: 3%;
}

body {
  text-align: center;
  color: #273043;
  padding: 1%;
  background-color: #F6D0B1;
  border-radius: 5%;
}
h1 {
  font-size: 500%;
}